%table.table.table-striped
  %thead
    %th
      Title
    %th
      Website
    %th
      Description
    %th
      Date
    %th
      Actions
  %tbody
    - @places.event.each do |place|
      %tr
        %td
          = link_to place.title, place_path(place)
        %td
          = link_to place.uri, place.uri, target: "_blank"
        %td
          = place.description
        %td
          = place.date.strftime("%B %e, %Y")
        %td
          = link_to place_path(place) do
            %i.icon-search
          = link_to edit_place_path(place) do
            %i.icon-pencil
          = link_to place_path(place), confirm: "Are you you sure you want to delete this?", method: :delete do
            %i{class: "icon-remove"}

=# paginate @events
