= simple_form_for @setting, html: {class: "form-horizontal"} do |f|
  %fieldset
    .control-group
      %label.control-label{for: "setting_site_name"} Site Name
      .controls
        = f.input :site_name, label: false, placeholder: "i.e. Represent.ph", maxlength: 100, input_html: {class: "input-xlarge"}
    .control-group
      %label.control-label{:for => "setting_logo"} Logo Image 
      .controls
        - if f.object.logo?
          = link_to image_tag(f.object.logo.url(:logo_style)), f.object.logo.url, :target => :blank
        - else
          = "No logo image uploaded yet." 
        = f.input :logo, as: :file, label: false 
       
    .control-group
      %label.control-label{:for => "setting_facebook_page"} Facebook Page
      .controls
        = f.input :facebook_page, label: false, placeholder: "i.e. http://www.facebook.com/myprofile", input_html: {class: "input-xlarge"} 
    .control-group
      %label.control-label{:for => "setting_twitter_handle"} Twitter Handle
      .controls
        = f.input :twitter_handle, label: false, placeholder: "i.e. @myhandle", input_html: {class: "input-xlarge"}
    .control-group
      %label.control-label{:for => "setting_analytics_snippet"} Analytics Snippet
      .controls
        = f.text_area :analytics_snippet, label: false,  input_html: {class: "input-xlarge"}, style: "width: 650px; height: 360px"

  .modal-footer.pull-right
    = f.submit "Save", class: "btn btn-primary btn-medium"
    = link_to "Cancel", admin_path, class: "btn btn-medium"

