#menu.menu
  .wrapper
    .logo
      = link_to image_tag("represent.png"), "http://www.represent.ph"
    .blurb
      This map was made to connect and promote the Philippine tech startup community.
      Let's put the Philippines on the map!
    .buttons
      %a.btn.btn-large.btn-info{"data-toggle" => "modal", :href => "#modal_info"} More Info
      %a.btn.btn-large.btn-inverse{"data-toggle" => "modal", :href => "#modal_add"} Add Something!
    .share
      %a.twitter-share-button{"data-count" => "none", "data-text" => "Let's put philippine startups on the map:", "data-url" => "http://www.represent.ph", "data-via" => "", :href => "https://twitter.com/share"} Tweet
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");          .fb-like{"data-font" => "arial", "data-href" => "http://www.represent.la", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "100"}
    .blurb
      %span Inspired by
      = link_to "RepresentMap", "http://www.representmap.com"
    .search
      %input#search{:autocomplete => "off", "data-provide" => "typeahead", :name => "search", :placeholder => "Type a company name...", :type => "text"}/

  %ul#list.list
    - index = 0
    - @types.each do |type|
      - @markers = Place.where(approved: true, type: type[0]).order_by(:title.asc).to_a
      %li.category
        .category_item
          .category_toggle{:id => "filter_#{type[0]}", :onClick => "toggle('#{type[0]}')"}
          %a.category_info{:href => "#", :onClick => "toggleList('#{type[0]}')"}
            %img{:alt => "", :src => "./images/icons/#{type[0]}.png"}>/
            #{type[1]}
            %span.total (#{@markers.length})
        %ul.list-items{:class => "list-#{type[0]}"}
          - @markers.each do |marker|
            %li{:class => "#{marker.type}"}
              %a{:href => "#", :onClick => "goToMarker('#{index}')", :onMouseOut => "markerListMouseOut('#{index}')", :onMouseOver => "markerListMouseOver('#{index}')"} #{marker.title}
            - index+=1

