.page-header
  %h2
    Places

  
  .pull-right
    = link_to new_place_path do
      %button.btn.btn-info
        Add a new place

  %table.table
    %thead
      %th
        Title
      %th
        Type
      %th
        Description
      %th
        Address
      %th
        URL
      %th
        Owner
      %th
        Email
      %th
        Actions
    %tbody
      - @places.each do |place|
        %tr
          %td
            = place.title
          %td
            = place.type
          %td
            = place.description
          %td
            = place.address
          %td
            = place.uri
          %td
            = place.owner_name
          %td
            = place.owner_email
          %td
            = link_to place_path(place) do
              %i.icon-search
            = link_to edit_place_path(place) do
              %i.icon-pencil
            = link_to place_path(place), confirm: "Are you you sure you want to delete this?", method: :delete do
              %i{class: "icon-remove"}



  
