.page-header
  %h2
    Places

  
  .pull-right
    = link_to new_place_path do
      %button.btn.btn-info
        Add a new place


  .tabbable
    %ul.nav.nav-tabs
      %li.active
        = link_to "All", "#", 'data-toggle' => 'tab' 
      %li
        = link_to "Pending", "#", 'data-toggle' => 'tab'
      %li
        = link_to "Startups", "#", 'data-toggle' => 'tab'
      %li
        = link_to "Accelerators", "#", 'data-toggle' => 'tab'
      %li
        = link_to "Incubators", "#", 'data-toggle' => 'tab'
      %li
        = link_to "Coworking", "#", 'data-toggle' => 'tab'
      %li
        = link_to "Investors", "#", 'data-toggle' => 'tab'
      %li
        = link_to "Consulting", "#", 'data-toggle' => 'tab'
  %table.table
    %thead
      %th
        Title
      %th
        Type
      %th
        Description
      %th
        Actions
    %tbody
      - @places.each do |place|
        %tr
          %td
            = link_to place.title, place_path(place)
          %td
            = place.type
          %td
            = place.description
          %td
            = link_to place_path(place) do
              %i.icon-search
            = link_to edit_place_path(place) do
              %i.icon-pencil
            = link_to place_path(place), confirm: "Are you you sure you want to delete this?", method: :delete do
              %i{class: "icon-remove"}



  
