

.page-header
  .pull-right
    = link_to new_place_path do
      %button.btn.btn-info
        Add a new place
  %h2
    Places


  .tabbable
    %ul.nav.nav-tabs#places_tab
      %li.active
        = link_to "All (#{@places.count})", "#all", :'data-toggle' => 'tab' 
      %li
        = link_to "Pending (#{@places.pending.count})", "#pending", :'data-toggle' => 'tab'
      %li
        = link_to "Startups (#{@places.startup.count})", "#startup", :'data-toggle' => 'tab'
      %li
        = link_to "Accelerators (#{@places.accelerator.count})", "#accelerator", :'data-toggle' => 'tab'
      %li
        = link_to "Incubators (#{@places.incubator.count})", "#incubator", :'data-toggle' => 'tab'
      %li
        = link_to "Coworking (#{@places.coworking.count})", "#coworking", :'data-toggle' => 'tab'
      %li
        = link_to "Investors (#{@places.investor.count})", "#investor", :'data-toggle' => 'tab'
      %li
        = link_to "Consulting (#{@places.service.count})", "#service", :'data-toggle' => 'tab'
      %li
        = link_to "Events (#{@places.event.count})", "#event", :'data-toggle' => 'tab'

    .tab-content
      .tab-pane.active#all
        = render 'places/admin/all'
      .tab-pane#pending
        = render 'places/admin/pending'
      .tab-pane#startup
        = render 'places/admin/startups'
      .tab-pane#accelerator
        = render 'places/admin/accelerators'
      .tab-pane#incubator
        = render 'places/admin/incubators'
      .tab-pane#coworking
        = render 'places/admin/coworkings'
      .tab-pane#investor
        = render 'places/admin/investors'
      .tab-pane#service
        = render 'places/admin/services'
      .tab-pane#service
        = render 'places/admin/services'
      .tab-pane#event
        = render 'places/admin/events'
