.page-header
  %h2
    Places

  %table.table
    %thead
      %th
        Title
      %th
        Type
      %th
        Description
      %th
        Address
      %th
        URL
      %th
        Owner
      %th
        Email
      %th
        Actions
    %tbody
      - @places.each do |place|
        %tr
          %td
            = place.title
          %td
            = place.type
          %td
            = place.description
          %td
            = place.address
          %td
            = place.uri
          %td
            = place.owner_name
          %td
            = place.owner_email
          %td
            = link_to place_path(place) do
              %i.icon-search
            = link_to edit_place_path(place) do
              %i.icon-pencil
            %i.icon-remove



  
