.page-header
  %h2
    Places

  .pull-right
    = link_to new_place_path do
      %button.btn.btn-info
        Add a new place

  .tabbable
    %ul.nav.nav-tabs#places_tab
      %li.active
        = link_to "All", "#all", :'data-toggle' => 'tab' 
      %li
        = link_to "Pending", "#pending", :'data-toggle' => 'tab'
      %li
        = link_to "Startups", "#startup", :'data-toggle' => 'tab'
      %li
        = link_to "Accelerators", "#accelerator", :'data-toggle' => 'tab'
      %li
        = link_to "Incubators", "#incubator", :'data-toggle' => 'tab'
      %li
        = link_to "Coworking", "#coworking", :'data-toggle' => 'tab'
      %li
        = link_to "Investors", "#investor", :'data-toggle' => 'tab'
      %li
        = link_to "Consulting", "#service", :'data-toggle' => 'tab'
    .tab-content
      .tab-pane.active#all
        = render 'places/admin/all'
      .tab-pane#pending
        = render 'places/admin/pending'
      .tab-pane#startup
        = render 'places/admin/startups'
      .tab-pane#accelerator
        = render 'places/admin/accelerators'
      .tab-pane#incubator
        = render 'places/admin/incubators'
      .tab-pane#coworking
        = render 'places/admin/coworkings'
      .tab-pane#investor
        = render 'places/admin/investors'
      .tab-pane#service
        = render 'places/admin/services'
