!!!
%html
  %head
 
    / This site was based on the Represent.LA project by:
    / Alex Benzer (@abenzer)
    / Tara Tiger Brown (@tara)
    / Sean Bonner (@seanbonner)

    / Create a map for your startup community!
    / https://github.com/abenzer/represent-map
    %title represent.ph - map of the philippine startup community
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no", :name => "viewport"}
      %meta{:charset => "UTF-8"}
        %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400,700", :rel => "stylesheet", :type => "text/css"}

    = javascript_include_tag "map"
    = javascript_include_tag "label"
    = javascript_include_tag "form"

  %body
    .container
      = render "layouts/messages"
      .canvas
        #map_canvas
      .sidebar
        = render "menu"
        = render "menu_mobile"
    = render "more_info"
    = render "modal_form"

