.page-header
  %h2
    = @place.title
    %small
      &nbsp;&nbsp;&nbsp;
      = @place.type.titleize
    %small.pull-right
      &nbsp;&nbsp;&nbsp;
      = @place.status.titleize


.pull-right
  = link_to edit_place_path(@place) do
    %button.btn.btn-medium.btn-primary
      Edit
  = link_to "Delete", place_path(@place), method: :delete, confirm: "Are you sure you want to delete this?", class: "btn btn-danger btn-medium"
  = link_to "Cancel", places_path, class: "btn"

%h5
  Description
%p
  = @place.description
%br
%h5
  Address
%p
  = @place.address

%br
%h5
  Website
%p
  = @place.uri

%br
%h5
  Contact
%p
  = @place.owner_name
  &nbsp;&nbsp;
  = @place.owner_email



