=# link_to image_tag("represent.png"), root_path, :class => 'brand'
= link_to @global_settings.site_name, root_path, :class => 'brand'
%ul.nav.pull-right
  - if user_signed_in?
    %li
      .navbar-text
        Welcome
        = "#{current_user.email}!"
    %li
      = link_to edit_user_path(current_user) do
        %i.icon-user.icon-white
        Account 
    %li
      = link_to destroy_user_session_path, method: :delete do
        Logout
    
  - else
    %li
      = link_to('Login', new_user_session_path)

%ul.nav
  %li
    = link_to places_path do
      %i.icon-map-marker.icon-white
      Places
  %li
    = link_to users_path do
      %i.icon-list.icon-white
      Users
  %li
    = link_to settings_path do
      %i.icon-cog.icon-white
      Settings


    = javascript_include_tag "form"
