!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "#{@global_settings.site_name} - ADMIN"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"

    = csrf_meta_tags
    = yield(:head)
    %style
      html, body { overflow-y: auto; }
  %body
    #wrap
      %header.navbar.navbar-inverse
        %nav.navbar-inner
          .container
            = render 'layouts/navigation'
      #main{:role => "main"}
        .container
          = render 'layouts/messages'
          = yield
      .push
        
    %footer{role: "contentinfo"}
      .divider.gray
      .v-spacer20
      .container
        = raw "copyright &copy; 2012 #{@global_settings.site_name}"
